@model IEnumerable<projetdotnet.Models.Absence>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.justificatif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEtudiant)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matiere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.justificatif)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEtudiant)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Ab">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Ab">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Ab">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
